<%= form_with(model: bet) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.hidden_field :user_id , :value => current_user.id%>
  </div>

  <div class="field">
    <%= form.hidden_field :match_id, :value => bet.match_id%>
  </div>
  
<div class="row">
  <div class="col-3">
      <div class="field">
        <% names = @matches.find(params[:match_id]).home_away_names %>
        <%= form.label "Goles #{names[0]}" %><br>
        <%= form.number_field :home_goals, class:"form-control mx-sm-3",placeholder: "Goles Local" %>
      </div>
    </div>
  <div class="col-3">
    <div class="field">
      <%= form.label "Goles #{names[1]}" %>
      <%= form.number_field :visitor_goals, class:"form-control mx-sm-3", placeholder: "Goles Visita" %>
    </div>
  </div>
  <br>
  <div class="actions">
    <br>
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
</div>
<% end %>
