<%= form_with(model: bet) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.hidden_field :user_id , :value => current_user.id%>
  </div>

  <div class="field">
    <%= form.hidden_field :match_id, :value => bet.match_id%>
  </div>

  <div class="field">
    <%= form.label :home_goals %>
    <%= form.number_field :home_goals %>
  </div>

  <div class="field">
    <%= form.label :visitor_goals %>
    <%= form.number_field :visitor_goals %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
