<%= form_with(model: bet) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.hidden_field :user_id , :value => current_user.id%>
  </div>

<% if @custom_params %>
  <div class="field">
    <%= form.hidden_field :match_id, :value => @custom_params[0]%>
  </div>
<% else %>
  <div class="field">
    <%= form.label :match_id %>
    <% options = options_from_collection_for_select(@matches, 'id', 'dropdown_data') %>
    <%= form.select :match_id,  options %>
  </div>
<% end %>

  <div class="field">
    <%= form.label :home_goals %>
    <%= form.number_field :home_goals %>
  </div>

  <div class="field">
    <%= form.label :visitor_goals %>
    <%= form.number_field :visitor_goals %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
