<div class="container">
  <div class="row text-center justify-content-md-center">
    <div class="col-4">
    <br>
      <img class="mb-4" src="https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/43/3c/11/433c114b-66c0-d50c-0c0c-5de93220f681/source/512x512bb.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Ingresá a la PoshhhhaGol</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-control">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          <br>
        </div>
          <br>
          <% if devise_mapping.rememberable? %>
          <div class="checkbox mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
          <div class="actions">
          <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
        </div>  
        <br>
          <%= render "devise/shared/links" %>
          <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      <% end %>
    </div>
</div>